{% extends "portfolio/base.html" %}

{% block content %}


<div class="container mb-5">

    <!-- Name -->
    <div>
        <div class="display-2 text-center">ANDREW BENSON</div>
    </div>
    <!-- Contact info -->
    <div class="row">
        <div class="col-6 text-center">
            <i class="fa fa-envelope-open-o"></i> arbenson@ryerson.ca
        </div>
        <div class="col-6 text-center">
            <i class="fa fa-phone-square "></i> 647-389-3254
        </div>

    </div>
    <div class="row">
        <div class="col-6 text-center">
            <a class="btn btn-success" href="linkedin.com/in/andrew-benson-8bb08a12b">
                <i class="fa fa-linkedin"></i> LinkedIn </a>
        </div>
        <div class="col-6 text-center">
            <a class="btn btn-success" href="https://github.com/AndrewBenson98">
                <i class="fa fa-github-square"></i> Github </a>
        </div>
    </div>
    <!-- End Contact Info -->
    <!-- End Name -->
    <hr>
    <!-- Summary -->
    <div>
        <div>
            <div class="display-4">Summary</div>
        </div>
        <div>
            <ul>
                <li>Focused and result-oriented developer with over 5 years of programming experience.</li>
                <li>Experience Java, SQL, Python, and Django</li>
                <li>Highly organized, self-motivated, strong problem-solving skills, and a desire to learn</li>
            </ul>
        </div>
    </div>
    <!-- End Summary -->
    <hr>
    <!-- Experience -->
    <div>
        <div>
            <div class="display-4 mb-3">Experience</div>
        </div>
        <!-- Exp Item 1 -->
        <div class="exp-item mb-4">
            <div>
                <h4>Information Technology Co-op</h4>
            </div>
            <div>
                <h4>Manulife</h4>
            </div>
            <div>
                <p>May 2017 - Aug 2020</p>
            </div>
            <div>
                <ul>
                    <li>Worked at Manulife as a co-op several times from 2017 - 2020 (Totaling 16 months)
                    </li>
                    <li>
                        Collaborated with a team of developers and designers to develop Dodeca Templates from excel
                        filesfor users to view,
                        organize, input, and export data from various Essbase cubes.
                    </li>
                    <li>
                        Utilized SQL in conjunction with Dodeca to retrieve and manipulate data from the data
                        warehouse
                    </li>
                    <li>Implemented security into a Dodeca template which required approvals from different people
                        andteams for a template’s
                        data to be changed
                    </li>
                </ul>
            </div>
        </div>
        <!-- End Exp Item 1 -->

        <!-- Exp Item 2 -->
        <div class="exp-item">
            <div>
                <h4>Data Analyst Co-op</h4>
            </div>
            <div>
                <h4>Ministry of Health Ontario</h4>
            </div>
            <div>
                <p>Jan 2020 - April 2020</p>
            </div>
            <div>
                <ul>
                    <li>
                        Automated laborious tasks using Excel and Visual Basic for Applications (VBA)
                    </li>
                    <li>
                        Developed a semi-automated system to help with the generation of personalized PDF letters
                        thatwould be automatically
                        emailed out to different health service providers.
                    </li>
                    <li>
                        Created a tool that generated reports about health service providers by using data from the
                        Matrixdatabase.
                    </li>

                </ul>
            </div>
        </div>
        <!-- End Exp Item 2 -->


    </div>
    <!-- End Experience -->
    <hr>
    <!-- Education -->
    <div>
        <div class="display-4">
            Education
        </div>
        <div>
            <h4>Ryerson University</h4>
        </div>
        <div>
            <h5>Bachelor of Science - BS, Computer Science Co-op</h5>
            <div>2016-2021</div>
        </div>
    </div>
    <!-- End Education -->
    <hr>
    <!-- Skills -->

    <div>
        <div class="display-4 mb-4">
            Competencies
        </div>
        <!-- Icons -->
        <div class=" row">

            <div class=" col-xs-6 col-sm-3 col-md-3 col-lg-3 col-xl-1 text-center">
                <div><i class="fab fa-python fa-5x"></i></div>
                <div class="">Python</div>
            </div>

            <div class=" col-xs-6 col-sm-3 col-md-3 col-lg-3 col-xl-1 text-center">
                <div><i class="fab fa-java fa-5x"></i></div>
                <div class="">Java</div>
            </div>

            <div class=" col-xs-6 col-sm-3 col-md-3 col-lg-3 col-xl-1 text-center">
                <div><i class="fab fa-js-square fa-5x"></i></div>
                <div class="">JavaScript</div>
            </div>

            <div class=" col-xs-6 col-sm-3 col-md-3 col-lg-3 col-xl-1 text-center">
                <div><i class="fas fa-database fa-5x"></i></div>
                <div class="">SQL</div>
            </div>

            <div class=" col-xs-6 col-sm-3 col-md-3 col-lg-3 col-xl-1 text-center">
                <div><i class="fas fa-table fa-5x"></i></div>
                <div class=""> Excel</div>
            </div>

            <div class=" col-xs-6 col-sm-3 col-md-3 col-lg-3 col-xl-1 text-center">
                <div><i class="fas fa-scroll fa-4x mb-3"></i></div>
                <div class="">VBA</div>
            </div>

            <div class=" col-xs-6 col-sm-3 col-md-3 col-lg-3 col-xl-1 text-center">
                <div><i class="fab fa-html5 fa-5x"></i></div>
                <div class="">HTML5</div>
            </div>

            <div class=" col-xs-6 col-sm-3 col-md-3 col-lg-3 col-xl-1 text-center">
                <div><i class="fab fa-css3-alt fa-5x"></i></div>
                <div class="">CSS</div>
            </div>

            <div class=" col-xs-6 col-sm-3 col-md-3 col-lg-3 col-xl-1 text-center">
                <div><i class="fab fa-bootstrap fa-5x"></i></div>
                <div class="">Bootstrap</div>
            </div>

        </div>
    </div>

    <!-- End Skills -->



</div>


{% endblock %}